.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
  .row {
    display: flex;
    gap: 5px;
  }
  
  .tile {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #000;
    text-transform: uppercase;
  }
  .reset{
    width: 110px;
    margin: 2px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 16px;
    font-weight: bold;
  }
  .keyboards{
        width: 40px;
    margin: 2px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 20px;
  
  }
  @media (max-width: 720px) {
    .tile {
      width: 40px;
      height: 40px;
      font-size: 25px;
    }
  
    .row {
      gap: 4px;
    }
  }

  @media (max-width: 500px) {
    .tile {
      width: 30px;
      height: 30px;
      font-size: 20px;
    }
  
    .row {
      gap: 3px;
    }
    .reset{
        width: 80px;
        margin: 2px;
        background-color: rgb(255, 255, 255);
        height: 40px;
        font-size: 12px;
        font-weight: bold;
      }
      .keyboards{
            width: 28px;
        margin: 2px;
        background-color: rgb(255, 255, 255);
        height: 28px;
        font-size: 15px;
      
      }
  }
  

  .tile:nth-child(6) {
    background-color: lightgreen;
  }
  
  .tile:nth-child(7) {
    background-color: yellow;
  }
  .tile:nth-child(8) {
    background-color: rgb(255, 72, 72);
  }
  .reset-button{
    width: 100%;

  }
